body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
  }
  
  #Botones ul{
    list-style-type: none;
    width: 200px;
    height: 200px;
       
  }
  #Botones ul li{
    user-select: none;
    background-color: rgb(187, 180, 180);
    color: black;
    font-size: 1.6em;
    margin: 50px;
    padding: 10px;
    border-radius: 10px;
  }

  .Evento{
    animation: movimiento 5s infinite;
  }
  
  @keyframes movimiento {
    0%{ background: red; font-size: 1.9em;}
    25%{ background: orange;}
    50%{ background: green; font-size: 1em; }
    75%{ background: cornflowerblue; }
    100%{ background: purple; font-size: 1.9em;}
  }
